PORT=5002
MONGODB_URI=mongodb://localhost:27017/new_matka_db
JWT_SECRET=CHANGE_ME
FRONTEND_URL=https://newmatkadomain.com
MSG91_AUTH_KEY=CHANGE_ME
MSG91_TEMPLATE_ID=6aa1635ed61d0b5f8e0551e2
MSG91_OTP_LENGTH=4
MSG91_ENABLED=true
